* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    background-image: linear-gradient(#cddb4d,whitesmoke);
    

}



/* NAV*/

.navbar>.container-fluid{
    justify-content: flex-end;

}
div #pagesNombre{
    display: flex;
    justify-content: right;
    list-style-type: none;  
}

#logo {
    width: 115px;
    margin: 0.5rem;
}

/*------------------------------------------------------*/




/*MAIN-----------*/

main {
    margin: 0.5rem;
}



/*HOME-------------------------------*/

.contenedorPortada{
    margin: 0.rem;
    width: 80rem;
    justify-content: center;
    font-size: larger;


}


/*CARROUSELE*/

#carouselExampleControls img{
    width: 50vh;
    height: 80vh;

}

/*Temas actualidad*/

article {
    width: max-content;
    height: max-content;
    padding-top: 10rem;
    padding-left: 20rem;
    display: flex;
    font-size: larger;
    text-align: justify;
    
   
}
#actualidadTitulo {
    padding-left: 10rem;
    padding-bottom: 3rem;
    
}

/*FOOTER--------*/

footer {
    margin: 0.5rem;
    font-size: larger;
}



/*INFORMACION--------------*/





/*SERVICIOS----------------*/















/*ACERCA DE MI-------------*/

/*CONTACTARME--------------*/
















